.loginView{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 使用视口高度作为高度 */
    overflow: hidden; /* 隐藏溢出内容 */
}
.loginButton{
    margin: 10px;
    overflow: hidden; /* 隐藏内容的溢出部分 */
}